.ordinary-button {
    border: 0;
    margin: 0 auto;
    width: 22.5rem;
    height: 5rem;
    border-radius: 0.5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    color: #FFF;
    background-color: #ff3f3f;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 200;
    cursor: pointer;
}